
.userComentDiv{
    width: 1000px;
    margin-left: 140px
}

.divComment{
    max-width: 600px
}

.imgUserComment{
    height: 45px;
    width: 45px;
}

.assestDiv {
    padding: 10px 35px 10px 35px;
    display: inline-block;
}


.ourAssestHeaderDiv {
    width: 263px;
    float: right;
    margin: 20px;
}